body{
  background-image: url(../src/imagens/maxinepers.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

  font-family: 'VT323', monospace;
  font-size: 20px;
  display:block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.card {
  width: 200px;
  border: 1px solid #ff0ba2;
  padding: 0px; 
  margin: 300px auto; 
  text-align:center; 
  display: center; 
  height: 31vh;
  border-radius: 50px; 
  box-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 0px #ff1493; 
  margin-top: 300px;
  margin-bottom: 260px;
}
.instagram-button__btn {
  background-image: url(../src/imagens/iconeinsta.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 32px;
  background-color: #fb00fff6;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #eb14ff, 0 0 20px #930cb1, 0 0 30px #ca0bff;

}
@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
    /*background-color: rgba(68, 43, 255, 0.481);*/
  }
  80% {
    opacity: 1;
  }
}

.instagram-button {
  animation: blink 1.2s infinite;
}
.linkr-button {
  animation: blink 1.2s infinite;
}

.instagram-button {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.linkr-button__btn {
  background-image: url(../src/imagens/linktr.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 12px center;
  padding-left: 40px;
  background-color: #2600ffe7;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #dc14ff, 0 0 20px #8a1069, 0 0 20px #d611d9;
}

.linkr-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  margin-bottom: 10px;
}

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  form {
    margin-top: 20px;
    text-align: center;
  }
  
  label {
    display:block;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000000a8;
  }
  .neon-heading {
    color: #040404; 
    text-shadow: 0 0 5px #fc00d2, 0 0 10px #ff0898, 0 0 15px #ff04bc, 0 0 20px #ff0095, 0 0 10px #ff00d4, 0 0 30px #f90b8e, 0 0 35px #5900ff;
    font-weight: bold;
  }

  
  input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 5px #0066ff;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4500f3;
    color: white;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    box-shadow: 0 0 10px #dc14ff, 0 0 50px #8a1069, 0 0 20px #d611d9;
  
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    color:#fffffffd;
    background-color: hsla(321, 100%, 55%, 0.738);
    margin-bottom: 40px;
    border-radius: 40px;
    box-shadow: 0 0 25px #ff00d9;
    
  }
  
  .result p {
    font-weight: bold;
    margin-bottom: -10px;
   
  }
  @media screen and(max-width: 768px) {
    section, aside {
    width: 100%;
    padding: 0;
        }
    }
    
@media screen and(max-width: 740px) {
  nav li {
      float: none;
      text-align: center;
      width: 100%;
  }
  } 

